header
{
    border: 20px rgba(205, 247, 205, 0.712) auset;
    margin-bottom: 80px;
    margin-left: 20;
    
    background-color: rgba(205, 247, 205, 0.712);
    background:linear-gradient(green,yellow,green);
        
    border-radius: 20px;
}
nav
{
    border: 20px green inset;
    float: left;
    width:10%;
    border-radius: 20px;
    height: 480px;
	
}

section
{
    border:  20px rgba(205, 247, 205, 0.712) inset;
    border-radius: 20px;
    width: 69%;
    height: 800px;
    margin-left:300px;
    margin-right: 670px;    
   
}


aside
{
    border: 5px rgba(205, 247, 205, 0.712)inset;
    text-align: center;
    background-color:rgba(205, 247, 205, 0.712);
    bottom: 10px;
    border-radius: 20px;
    margin-left: 600px;
    width: 40%;
    border-radius: 20px;
}
aside:hover
{
    background-color: goldenrod;
    width: 50%;
}
article
{
    border: 5px rgba(205, 247, 205, 0.712) inset  ;
    margin-left: 70px;
    margin-right: 10px;
    width: 40%;
    text-align: center;
    background-color:rgba(205, 247, 205, 0.712);
    border-radius: 20px;
    position: relative;
    bottom: 620px;
            
}
article:hover
{
    background-color:  goldenrod;
    width: 50%;

}
.a1
{
    animation-name: rayen;
    animation-duration: 5s;
    position: relative;
    animation-direction:alternate-reverse;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    font-family: Haine;
    font-size: 30px;
}
@keyframes rayen
{
    0%{ left: 0%;top: 89%;}
    100%{left:89%; top: 0%;}
}
footer
{
    border: black 2px auset;
    background-color: black;
    border-radius: 20px;
}
body
{
    background-image: url("font\ 4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
   

}
.a2
{
    text-align: center;
    
    font-family:lapolice ;
    text-indent: 22px;
    font-size:xx-large;
    padding:10px;
}
@font-face
{
    font-family: lapolice;
    src: url(police/Haine.ttf);
}
.a3
{
    background-color:rgb(2, 134, 173); 
  border: none;
  
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 10px;
}
a
{
    color:black;
    
}
a:hover
{
    color: rgb(0, 140, 255);
}
.e5
{
    color: white;
    padding-left: 12px;
    padding-top: 12px;
    
}
.e6
{
    color: white;
    text-decoration: underline;
    padding-left: 12px;
}
h2
{
    color: rgb(175, 180, 180);
    font-family: Haine;
}
.a4
{
    font-size: 20px;
}